# Pandas Data Exploration

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('food.csv')
df.head()

       title       cuisine      type  state famous location  taste  price
0       dosa  south indian   healthy  solid         chennai  spicy     60
1      maggi       chinese  fastfood  solid          hostel  spicy     30
2       susi      japanese   healthy  solid           tokyo  spicy    200
3   dal bati    rajasthani   healthy  mixed    chokhi dhani  spicy    150
4  pav bhaji  north indian  fastfood  mixed           delhi  spicy     60

In [4]:
df['title'][df['price'].idxmax()]

'cakes'

In [5]:
df['title'][df['price'].idxmin()]

'tea'

In [8]:
list(df['cuisine'].value_counts().head(1).index)[0]

'italian'

In [9]:
df['famous location'][df['title']=='sandwich'].tolist()[0]

'kanha'

In [83]:
df[df['cuisine']=='north indian'].sort_values(by='price').head(1)

       title       cuisine      type  state    famous location  taste  price
16  panipuri  north indian  fastfood  mixed  golu ke gol gappe  spicy     10

In [36]:
list(df['price'][(df['cuisine']=='south indian') & (df['state']=='solid')])

[60]

In [41]:
df['type'].value_counts(ascending=True)

drink          1
hot drink      1
desert         2
cold drink     3
healthy        9
fastfood      15
Name: type, dtype: int64

In [43]:
df['type'].value_counts().sort_index(ascending=True)

cold drink     3
desert         2
drink          1
fastfood      15
healthy        9
hot drink      1
Name: type, dtype: int64